<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss} %-5level %logger{36}: %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="error">
            <AppenderRef ref="Console"/>
        </Root>
        <!--
          - Names are fully qualified names (i.e., eu.ace_deign.island.*)
          - The name of a Logger associated to an Object ends with a '$' (e.g., Main$ to log the Main object).
          -->
        <Logger name="Main$" level="all" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="eu.ace_design.island.geom.MeshBuilder" level="info" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="eu.ace_design.island.map.IdentifyBorders$" level="info" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="eu.ace_design.island.map.IdentifyWaterArea" level="info" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="eu.ace_design.island.map.IdentifyLakesAndOcean$" level="trace" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="eu.ace_design.island.viewer.SVGViewer" level="info" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
    </Loggers>
</Configuration>